<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom StyleCop Ruleset" Description="Ruleset used in team." ToolsVersion="15.0">
  <Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
    <Rule Id="CC0001" Action="None" />
    <Rule Id="CC0002" Action="None" />
    <Rule Id="CC0003" Action="None" />
    <Rule Id="CC0004" Action="None" />
    <Rule Id="CC0005" Action="None" />
    <Rule Id="CC0006" Action="None" />
    <Rule Id="CC0007" Action="None" />
    <Rule Id="CC0008" Action="None" />
    <Rule Id="CC0009" Action="None" />
    <Rule Id="CC0010" Action="None" />
    <Rule Id="CC0011" Action="None" />
    <Rule Id="CC0012" Action="None" />
    <Rule Id="CC0013" Action="None" />
    <Rule Id="CC0014" Action="None" />
    <Rule Id="CC0015" Action="None" />
    <Rule Id="CC0017" Action="None" />
    <Rule Id="CC0018" Action="None" />
    <Rule Id="CC0019" Action="None" />
    <Rule Id="CC0020" Action="None" />
    <Rule Id="CC0021" Action="None" />
    <Rule Id="CC0022" Action="None" />
    <Rule Id="CC0023" Action="None" />
    <Rule Id="CC0024" Action="None" />
    <Rule Id="CC0025" Action="None" />
    <Rule Id="CC0026" Action="None" />
    <Rule Id="CC0029" Action="None" />
    <Rule Id="CC0030" Action="None" />
    <Rule Id="CC0031" Action="None" />
    <Rule Id="CC0032" Action="None" />
    <Rule Id="CC0033" Action="None" />
    <Rule Id="CC0034" Action="None" />
    <Rule Id="CC0035" Action="None" />
    <Rule Id="CC0037" Action="None" />
    <Rule Id="CC0038" Action="None" />
    <Rule Id="CC0039" Action="None" />
    <Rule Id="CC0042" Action="None" />
    <Rule Id="CC0043" Action="None" />
    <Rule Id="CC0044" Action="None" />
    <Rule Id="CC0045" Action="None" />
    <Rule Id="CC0046" Action="None" />
    <Rule Id="CC0047" Action="None" />
    <Rule Id="CC0048" Action="None" />
    <Rule Id="CC0049" Action="None" />
    <Rule Id="CC0052" Action="None" />
    <Rule Id="CC0054" Action="None" />
    <Rule Id="CC0056" Action="None" />
    <Rule Id="CC0057" Action="None" />
    <Rule Id="CC0060" Action="None" />
    <Rule Id="CC0061" Action="Warning" />
    <Rule Id="CC0062" Action="None" />
    <Rule Id="CC0063" Action="None" />
    <Rule Id="CC0064" Action="None" />
    <Rule Id="CC0065" Action="None" />
    <Rule Id="CC0067" Action="None" />
    <Rule Id="CC0068" Action="None" />
    <Rule Id="CC0070" Action="None" />
    <Rule Id="CC0071" Action="None" />
    <Rule Id="CC0072" Action="Warning" />
    <Rule Id="CC0073" Action="None" />
    <Rule Id="CC0074" Action="None" />
    <Rule Id="CC0075" Action="None" />
    <Rule Id="CC0076" Action="None" />
    <Rule Id="CC0079" Action="None" />
    <Rule Id="CC0081" Action="None" />
    <Rule Id="CC0082" Action="None" />
    <Rule Id="CC0084" Action="None" />
    <Rule Id="CC0088" Action="None" />
    <Rule Id="CC0089" Action="None" />
    <Rule Id="CC0090" Action="None" />
    <Rule Id="CC0091" Action="None" />
    <Rule Id="CC0092" Action="None" />
    <Rule Id="CC0095" Action="None" />
    <Rule Id="CC0097" Action="None" />
    <Rule Id="CC0105" Action="None" />
    <Rule Id="CC0106" Action="None" />
    <Rule Id="CC0108" Action="Warning" />
    <Rule Id="CC0111" Action="None" />
    <Rule Id="CC0118" Action="Warning" />
    <Rule Id="CC0120" Action="None" />
    <Rule Id="CC0125" Action="None" />
  </Rules>
  <Rules AnalyzerId="Menees.Analyzers" RuleNamespace="Menees.Analyzers">
    <Rule Id="MEN009" Action="None" />
    <Rule Id="MEN013" Action="None" />
	<Rule Id="MEN008" Action="None" />
  </Rules>
</RuleSet>